<!DOCTYPE html>
<html lang="en">
{% import "macros/macro.html" as macro %}
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="../static/css/resetcss.css">
    <link rel="stylesheet" href="../static/css/css.css">
</head>
<body>
    <header>{{ macro.menuA() }}</header>
    <h1>Register as new user</h1>
    <br>
    <form>
        <table>
            <tr>
                <td><input type="text" placeholder="Name"></td>
                <td class="NameForm"><input type="text" placeholder="First name"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="text" placeholder="Email"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="password" placeholder="Password"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="password" placeholder="Repeat password"></td>
            </tr>
        </table>
        <div class="changepage"><a href="login"><h3>Allready have an account yet? Log in Here</h3></a></div>
    </form>
    <footer class="footer">{{ macro.footer() }}</footer>
</body>
</html>