<!DOCTYPE html>
<html lang="en">
{% import "macros/macro.html" as macro %}
<head>
    <meta charset="UTF-8">
    <title>StatsA</title>
    <link rel="stylesheet" href="../static/css/resetcss.css">
    <link rel="stylesheet" href="../static/css/css.css">
</head>
<body>
    <header>{{ macro.menuA() }}</header>
    <div class="tabs">
        <div class="tab active">All sessions</div>
        <div class="tab"><a class="tabs" href="stats/general">General stats</a></div>
    </div>
    <footer class="footer">{{ macro.footer() }}</footer>
</body>
</html>